@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --bg-color: #141414;
  --blue: #22d4fd;
  --second-bg-color: #191919;
  --text-color: white;
  --main-color: #00bfff;
}
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
}
header {
  background: var(--second-bg-color);
}
.nav_menu li {
  list-style: none;
}
.nav_menu li a {
  color: white;
  text-decoration: none;
}
.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.logo {
  font-size: 2rem;
  color: white;
}
.logo span {
  color: var(--blue);
}
.nav_link {
  transition: 0.7s ease;
  font-size: 1.8rem;
}
.nav_link:hover {
  color: var(--main-color);
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar_hamburger {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}
.section_home {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}
h1,
h2,
h3,
p {
  color: white;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
span {
  color: var(--main-color);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color), 0 0 100px var(--main-color);
}

.home_content h3:nth-of-type(2) {
  margin-bottom: 2rem;
  font-size: 4rem;
}
.home_content h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3;
}
.home_img {
  border-radius: 50%;
}
.home_img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  cursor: pointer;
}
.home_content p {
  font-size: 1.8rem;
  font-weight: 500;
}
.social_icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--main-color);
  font-size: 2rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 4rem 0;
  transition: 0.3s ease;
}
.social_icons a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  background-color: var(--main-color);
  box-shadow: 0 0 0 25px var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.05);
}
.text_animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.text_animation span {
  position: relative;
}
.text_animation span::before {
  content: "Youtuber";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text_animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 2px solid #333;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Youtuber";
  }
  21%,
  40% {
    content: "Web";
  }
  41%,
  60% {
    content: "Web2";
  }
  61%,
  80% {
    content: "Front-End";
  }
  81%,
  100% {
    content: "Drone";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-bg-color);
}
.about_img {
  border-radius: 50%;
  margin: 2rem;
}
.about_img img {
  position: relative;
  width: 30vw;
  border-radius: 50%;
  cursor: pointer;
}
.heading {
  font-size: 8rem;
  text-align: center;
}
.about_content h2 {
  text-align: center;
  line-height: 1.5;
}
.about_content h3 {
  font-size: 2.6rem;
}
.about_content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.about_content .text_animation span::before {
  content: "Youtube";
  color: var(--main-color);
}
.about_content .text_animation span::after {
  content: "";
  background-color: var(--second-bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 2px solid #333;
  right: -8px;
}
.services {
  margin-bottom: 4rem;
}
.services_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services_content .services_box {
  flex: 1 1 40rem;
  background-color: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  cursor: pointer;
  transition: 0.4s ease;
}
.services_content .services_box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  background-color: white;
  color: black;
}
.services_box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services_box h3 {
  font-size: 2.6rem;
}
.services_box p:hover {
  color: black;
}
.services_box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.services_box p:hover {
  color: black;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: #1d1d1d;
  width: 50px;
}
.projects {
  background-color: var(--second-bg-color);
}
.projects h2 {
  margin-bottom: 5rem;
}
.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 3rem;
}
.projects_container .projects_box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.projects_box img {
  width: 100%;
  transition: 0.5s ease;
}
.projects_box:hover img {
  transform: scale(1.1);
}
.projects_box .projects_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.projects_box .projects_info:hover {
  background: radial-gradient(rgba(0, 0, 0, 5.5), var(--main-color));
  transform: scale(1.1);
}
.projects_info h4 {
  font-size: 3rem;
  color: white;
  font-weight: 800;
}
.projects_info p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  font-weight: 600;
}
.projects_info a {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.projects_info a i {
  font-size: 3rem;
  color: var(--main-color);
}
.skills h2 {
  margin-bottom: 2rem;
}
.skills {
  margin: 0 auto;
}
.skill_bars {
  padding: 25px 30px;
  background: var(--second-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.skill_bars .bar {
  max-width: 20px 0;
}
.skill_bars .bar:first-child {
  margin-top: 0px;
}
.skill_bars .bar .info {
  margin-bottom: 5px;
}
.skill_bars .bar .info span {
  color: white;
  font-weight: 500;
  font-size: 17px;
}
.skill_bars .bar .progress_line {
  height: 10px;
  width: 100%;
  background: white;
  position: relative;
  border-radius: 10px;
}
.bar .progress_line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background: #0077ff;
  cursor: pointer;
}
.bar .progress_line.javascript span {
  width: 90%;
  background-color: gold;
  box-shadow: 0 0 25px gold;
  transition: 0.3s ease;
}
.bar .progress_line .javascript span:hover {
  box-shadow: 0 0 25px gold, 0 0 50px gold;
}

.bar .progress_line.react span {
  width: 60%;
  background-color: rgb(58, 58, 255);
  box-shadow: 0 0 25px rgb(58, 58, 255);
  transition: 0.3s ease;
}
.bar .progress_line.react span:hover {
  box-shadow: 0 0 25px rgb(58, 58, 255), 0 0 50px rgb(58, 58, 255);
}
.bar .progress_line.wordpress span {
  width: 85%;
  background-color: greenyellow;
  box-shadow: 0 0 25px greenyellow;
  transition: 0.3s ease;
}
.bar .progress_line.wordpress span:hover {
  box-shadow: 0 0 25px greenyellow, 0 0 50px greenyellow;
}
.bar .progress_line.html span {
  width: 100%;
  background-color: orangered;
  box-shadow: 0 0 25px orangered;
  transition: 0.3s ease;
}
.bar .progress_line.html span:hover {
  box-shadow: 0 0 25px orangered, 0 0 50px orangered;
}
.bar .progress_line.css span {
  width: 100%;
  background-color: var(--blue);
  box-shadow: 0 0 25px var(--blue);
  transition: 0.3s ease;
}
.bar .progress_line.css span:hover {
  box-shadow: 0 0 25px var(--blue), 0 0 50px var(--blue);
}
.contact {
  background-color: var(--second-bg-color);
  padding-bottom: 1rem;
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input_box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 1rem 0;
  resize: none;
}
.footer_start {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--main-color);
}
.footer_start .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer_start .social a {
  font-size: 25px;
  color: white;
  border: 2px solid white;
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}
.footer_start .social a:hover {
  transform: scale(1.2) translateY(-10px);
}
.footer_start ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer_start ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.footer_start ul li a:hover {
  border-bottom: 3px solid white;
}
.footer_start ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer_start .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}
