:root {
  --bg-color: #141414;
  --blue: #22d4fd;
  --second-bg-color: #191919;
  --text-color: white;
  --main-color: #00bfff;
}
/* media queries */

@media (max-width: 600px) {
  .navbar ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: var(--main-color);
    gap: 0;
  }
  .navbar ul li {
    padding: 20px;
  }
  .menu_icon i {
    display: block;
    background: #00bfff;
  }
}

@media (max-width: 400px) {
}
