@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --bg-color: #141414;
  --blue: #22d4fd;
  --second-bg-color: #191919;
  --text-color: white;
  --main-color: #00bfff;
}
/* media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }

  .section_home {
    display: flex;
    flex-direction: column;
  }

  .services {
    padding-bottom: 7rem;
    margin: 0 1rem 0 1rem;
  }
  .projects {
    padding-top: 1rem;
  }
  .projects h2 {
    font-size: 4rem;
    margin: 11px;
    padding: 0;
  }
  .projects_container {
    display: grid;
    flex-direction: column;
  }
  .container_skills h2 {
    font-size: 4rem;
    margin: 11px;
  }
  .container_skills {
    margin-right: 10px;
  }
  .contact {
    margin: 0 1rem 0 1rem;
    margin-right: 21px;
  }
  .contact h2 {
    font-size: 4rem;
    margin: 11px;
  }
  .contact form .input_box input,
  .contact form textarea {
    width: 83%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
  }
  .footer {
    padding: 2rem 3%;
  }
  .footer_start ul {
    font-size: 14px;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
  }
  .about_content {
    padding: 2rem;
  }

  .about_img {
    margin-top: 0;
    margin-bottom: 4rem;
    gap: 0;
  }
}

@media (max-width: 895px) {
}

@media (max-width: 400px) {
}

@media (max-width: 768px) {
  body {
    font-size: 22px;
  }
  .hamburger {
    display: block;
  }
  .hamburger .active .bar_hamburger:nth-child(2) {
    opacity: 0;
  }
  .hamburger .active .bar_hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .active .bar_hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav_menu li a {
    color: black;
    text-decoration: none;
  }
  .nav_item {
    margin: 16px 0;
  }
  .nav_menu.active {
    left: 0;
  }
}
